.iconos-portafolio{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2rem;
}

.iconos-portafolio a {
    color: #fff;
    text-decoration: none;
  }
  
  .iconos-portafolio i {
    font-size: 2.5em;
  }