.footer {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
    background-color: aqua;
  }

  .footer-contenido h2 {
    font-size: 2em;
  }
  
  .footer-contenido h5 {
    font-size: 1em;
    text-align: center;
  }

  .redes-sociales {
    display: flex;
    justify-content: space-evenly;
    width: 300px;
    margin-top: 1em;
  }
  
  .redes-sociales i {
    font-size: 1.5em;
  }

  .link-sociales{
    font-size: 2rem;
    color: white;
  }


  @media only  screen and (max-width: 640px) {
    
    .footer {
        margin-top: 2rem;
        display: flex;
        align-items: center;
        padding: 0.5em;
      }
  }


